# Handy UI features that should have been part of UIKit in the first place.
github "Flinesoft/HandyUIKit" ~> 1.2

# Handy Swift features that didn't make it into the Swift standard library.
github "Flinesoft/HandySwift" ~> 2.3

# Keep the screen flow and data handling logic out of your view controllers – let them handle view-stuff only.
github "Flinesoft/Imperio" ~> 1.0

# Modern and extensive Apple-style progress HUD for iOS.
github "JonasGessner/JGProgressHUD" ~> 1.4

# Network abstraction layer written in Swift.
# github "Moya/Moya" ~> 8.0

# Realm is a mobile database: a replacement for Core Data & SQLite
# github "realm/realm-cocoa" ~> 2.4

# Convenient logging during development & release in Swift
github "SwiftyBeaver/SwiftyBeaver" ~> 1.3

# Modern Swift API for NSUserDefaults
github "radex/SwiftyUserDefaults" ~> 3.0

# The best way to manage Dates and Timezones in Swift
# github "malcommac/SwiftDate" ~> 4.0

# ✨ Super sweet syntactic sugar for Swift initializers
github "devxoul/Then" ~> 2.1
