# Handy Swift features that didn't make it into the Swift standard library.
github "Flinesoft/HandySwift" ~> 2.5

# Handy UI features that should have been part of UIKit in the first place.
github "Flinesoft/HandyUIKit" ~> 1.6

# Keep the screen flow and data handling logic out of your view controllers – let them handle view-stuff only.
github "Flinesoft/Imperio" ~> 2.0

# Modern and extensive Apple-style progress HUD for iOS.
github "JonasGessner/JGProgressHUD" ~> 2.0

# Network abstraction layer written in Swift.
github "Moya/Moya" ~> 11.0

# Convenient logging during development & release in Swift
github "SwiftyBeaver/SwiftyBeaver" ~> 1.5

# Modern Swift API for NSUserDefaults
github "radex/SwiftyUserDefaults" ~> 4.0
